.jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0;
}
.jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
.jumbotron small {
    color: #FFF;
}
.h1 small {
    font-size: 24px;
}
.header_contact{
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 8px 8px 0 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
textarea[name="message"]{
    resize: none;
}
.well{
    border-radius: 0 0 8px 8px;
}