#picture_container, #platform_container{
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 49%;
    max-width: 49%;
}
@media (max-width: 768px) {
    #picture_container, #platform_container{
        margin-top: 25px;
        min-width: 100%;
        max-width: 100%;
    }
}

.formGroup{
    background-color: #e9e9e9;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
}
.float-right{
    float: right;
}
.formContainer{
    background-color: #d7d7d7;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding-top: 15px;
    margin: 0 2px 10px 2px;
    box-sizing: border-box;
    width: 49%;
}

@media (max-width: 768px) {
    .formContainer {
        background-color: #d7d7d7;
        border: 1px solid #b3b3b3;
        border-radius: 4px;
        padding-top: 15px;
        margin: 0 2px 10px 2px;
        box-sizing: border-box;
        width: 100%;
    }
}

.formContainer2{
    background-color: #d7d7d7;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    padding-top: 15px;
    margin-top: 10px;
    box-sizing: border-box;
}