#categoryName{
    font-size: 0.7em;
    margin-left: 15px;
    vertical-align: 10%
}
.panel-body{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
#details_container{
    padding-top: 15px;
    padding-bottom: 15px;
}
#picture_container{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    box-shadow: -5px 0 5px #ddd inset;
    box-sizing: border-box;
}
#picture_container img{
    width: 95%;
    margin-bottom: 10px;
}
