#tb_mainbundle_user_userPhoto_file{
    height: 34px;
}
.panel-body{
    padding-top: 30px;
}
.formGroup{
    background-color: #f9f9f9;
    padding: 0;
    margin-bottom: 25px;
    border: 1px solid #ddd;;
}
.formGroup>div{
    margin: 15px 0 15px 0;
}
.formGroup>h3{
    background-color: #f5f5f5;
    margin: 0;
    padding: 15px 0 15px 20px;
}