{% extends '::base.html.twig' %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/register_user.css') }}">
 {% endblock %}

{% block body %}
    <div class="container margin-bottom">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Inscription</h2></div>
            <div class="panel-body row">
                {{ form_start(form) }}
                <div class="col-md-10 col-md-offset-1 formGroup">
                    <h3>Infos de connexion</h3>
                    <div class="col-md-6 form-group">
                        {{ form_row(form.userEmail) }}
                        {{ form_row(form.userPassword) }}
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 formGroup">
                    <h3>Infos personnelles</h3>
                    <div class="col-md-6 form-group">

                        {{ form_row(form.userFirstName) }}
                        {{ form_row(form.userLastName) }}
                        {{ form_row(form.userAddress) }}
                        {{ form_row(form.userEmail) }}
                        {{ form_row(form.userPassword) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_row(form.userBirthDate) }}
                        {{ form_row(form.userPhoto) }}
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 col-sm-12">
                    {{ form_widget(form.submit, {attr:{"class": "btn btn-primary"}}) }}
                    {{ form_widget(form.update, {attr:{"class": "hidden"}}) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    Inscription
{% endblock %}

 {% block javascripts %}

 {% endblock %}