{% extends ("::base.html.twig") %}

{% block title %} Contact {% endblock %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/contact.css') }}">
 {% endblock %}

{% block body %}

    <div class="container" id="contactUs">
        <div class="col-md-12 header_contact">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        Contact us </h1>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">

                <div class="well">
                    <form action="{{ path('main_send_email')}}" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Nom</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nom"
                                           required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email</label>
                                    <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                               required="required"/></div>
                                </div>
                                <div class="form-group">
                                    <label for="subject">
                                        Sujet</label>
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Sujet"
                                           required="required"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Message</label>
                                    <textarea name="message" id="message" class="form-control" rows="9" cols="25"
                                              required="required"
                                              placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" name="sendEmail" class="btn btn-primary pull-right" id="btnContactUs">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}