<html lang="fr">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1 style="color: red">Bonjour Mr Admin</h1>
    <p><h3 style="color: #6b9311">{{ nom }}</h3> <h2 style="background-color: #6897BB">vous à envoyé un email avec l'adresse:</h2> {{ email }}</p>
    <p style="font-size: 45px">Sujet: <b style="color: #6c6159">{{ sujet }}</b></p>
    <p style="background-color: #66dd66"><b style="color: yellow">Message:</b></p>
    <hr>
    <p><i style="color: orange"><span style="background-color: greenyellow">{{ message }}</span></i></p>
</body>
</html>
