{% extends "::base.html.twig" %}

{% block title %}
    Voir les catégories
{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/category.css') }}">
 {% endblock %}

{% block body %}
    <div class="container margin-bottom">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="inline-block">Toutes les categories</h2>
                <span class="add"> <a href="{{ path('main_category_create') }}">
                        <button>Ajouter une catégorie</button></a>
                </span>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Nom</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for cat in categories %}
                            <tr>
                                <td>
                                    <span class="categoryCell inline-block">{{ cat.categoryName | upper }}</span>
                                    <span class="edit"><a href="{{ path('main_category_update', {'id': cat.categoryId}) }}"><button class="updateCatBtn">Modifier</button></a>
                                        <a href="{{ path('main_category_delete', {'id': cat.categoryId}) }}"><button class="deleteCatBtn">Supprimer</button></a></span>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
