{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Modifier categorie</h2></div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}

{% block title %}

{% endblock %}

