<nav class="navbar navbar-inverse" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('main_home_home') }}">Symfony</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('main_home_home') }}">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Jeux
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ path('main_game_index') }}" class="aMenu">Voir tout</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.token.user.userRoles[0] == "ROLE_ADMIN" %}
                            <li><a href="{{ path('main_game_create') }}" class="aMenu">Ajouter jeu</a>


                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Categories
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ path('main_category_index') }}" class="aMenu">Voir tout</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.token.user.userRoles[0] == "ROLE_ADMIN" %}
                            <li><a href="{{ path('main_category_create') }}" class="aMenu">Ajouter catégorie</a>

                            </li>
                        {% endif %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Plateformes
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="{{ path('main_platform_index') }}" class="aMenu">Voir tout</a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') and app.token.user.userRoles[0] == "ROLE_ADMIN" %}
                            <li><a href="{{ path('main_platform_create') }}" class="aMenu">Ajouter plateforme</a>


                            </li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{{ path('main_home_aboutUs') }}">About Us</a></li>
                <li><a href="{{ path('main_home_contact') }}">Contact us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                           id="navUsername"> {{ app.token.user.userLastName|upper }}
                            &nbsp;{{ app.token.user.userFirstName }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li><a href="{{ path('main_user_update', {'id':  app.token.user.userId}) }}" class="aMenu">Voir
                                    Profil</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('main_user_logout') }}"><span
                                    class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
                {% endif %}

                {% if  not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('main_user_register') }}"><span
                                    class="glyphicon glyphicon-user"></span> Sign Up</a></li>

                    <li><a href="{{ path('main_user_login') }}"><span
                                    class="glyphicon glyphicon-log-in"></span> LogIn</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
