{% extends "::base.html.twig" %}

{% block title %}
    Details jeux
{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/game_details.css') }}">
 {% endblock %}

{% block body %}
    <div class="container margin-bottom">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="inline-block">{{ details.gameName }}<span
                            id="categoryName">({{ details.gameCategory.categoryName }})</span></h2>
            </div>
            <div class="panel-body">
                <div class="col-md-4 col-sm-12" id="picture_container">
                    {% for p in details.gamePictures %}
                        <img src="{{ asset(p.pictureURL) }}" alt="Images du jeu">
                    {% endfor %}


                    {#<div id="myCarousel" class="carousel slide" data-ride="carousel">#}
                        {#<!-- Indicators -->#}
                        {#<ol class="carousel-indicators">#}
                            {#<li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
                            {#<li data-target="#myCarousel" data-slide-to="1"></li>#}
                            {#<li data-target="#myCarousel" data-slide-to="2"></li>#}
                        {#</ol>#}

                        {#<!-- Wrapper for slides -->#}
                        {#<div class="carousel-inner">#}
                            {#{% for p in details.gamePictures %}#}
                            {#<div class="item active">#}
                                {#<img src="../../../{{ p.pictureURL }}" alt="Images du jeu">#}
                            {#</div>#}
                            {#<{% endfor %}#}
                        {#</div>#}

                        {#<!-- Left and right controls -->#}
                        {#<a class="left carousel-control" href="#myCarousel" data-slide="prev">#}
                            {#<span class="glyphicon glyphicon-chevron-left"></span>#}
                            {#<span class="sr-only">Previous</span>#}
                        {#</a>#}
                        {#<a class="right carousel-control" href="#myCarousel" data-slide="next">#}
                            {#<span class="glyphicon glyphicon-chevron-right"></span>#}
                            {#<span class="sr-only">Next</span>#}
                        {#</a>#}
                    {#</div>#}
                </div>

                <div class="col-md-8 col-sm-12" id="details_container">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Plateformes</th>
                                <th>Dates de sorties</th>
                                <th>Prix</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for p in details.gamePlatforms %}
                                <tr>
                                    <td>
                                        {{ p.gamePlatformPlatform.platformName | upper }}
                                    </td>
                                    <td>
                                        {{ p.gamePlatformReleaseDate.date | date('d/m/Y') }}
                                    </td>
                                    <td>
                                        {{ p.gamePlatformPrice }}€
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

