{% extends "::base.html.twig" %}

{% block title %}
    Voir les Jeux
{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/category.css') }}">
 {% endblock %}

{% block body %}
<div class="container margin-bottom">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="inline-block">Aperçu des jeux</h2>
            <span class="add"> <a href="{{ path('main_game_create') }}">
                        <button>Ajouter un jeu</button></a>
                </span>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Catégorie</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for game in games %}
                            <tr>
                                <td>
                                    <a href="{{ path('main_game_details', {'id': game.gameId}) }}">{{ game.gameName | upper }}</a>
                                </td>
                                <td>
                                    <span class="categoryCell inline-block">{{ game.gameCategory.categoryName | upper}}</span>
                                    <span class="edit"><a href="{{ path('main_game_update', {'id': game.gameId}) }}"><button class="updateCatBtn">Modifier</button></a>
                                        <a href="{{ path('main_game_delete', {'id': game.gameId}) }}"><button class="deleteCatBtn">Supprimer</button></a></span>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
