{% extends '::base.html.twig' %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('assets/css/create_game.css') }}">
 {% endblock %}

{% block body %}
    <div class="container margin-bottom">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Enregistrer un jeu</h2></div>
            <div class="panel-body">
                {{ form_start(form) }}
                <div class="col-md-12 formGroup form-group">
                    {{ form_row(form.gameName) }}
                    {{ form_row(form.gameCategory) }}
                    <button id='add_platform' type="button">Ajouter une plateforme</button>
                    <button id='add_picture' type="button">Ajouter une image</button>
                </div>
                <div id="platform_container" class="hidden"></div>
                <div id="picture_container" class="hidden"></div>
                <div class="col-md-12 col-sm-12">
                    {{ form_widget(form.submit, {attr:{"class": "btn btn-primary"}}) }}
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block title %}
    Modification Jeu
{% endblock %}

 {% block javascripts %}
     <script src="{{ asset('assets/js/js.js') }}"></script>
 {% endblock %}